body {
	font-family: 'ARCADECLASSIC';
	overflow: hidden;
	background: #222;
	color: #ddd;
	margin: 0;
}
@font-face {
  font-family: 'ARCADECLASSIC';
  src: url('ARCADECLASSIC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
img {
	float: left;
	padding: 10px;
}
.container {
/* 	display: block; */
	float: left;
	padding-left:2em;
}
canvas {
	/* padding-top:10px; */
}
